/**                            
 ** Style for the example - OClosure **  
 ** Bozman Cagdas - 2010       **
 **/


.intro { 
 background-color: #C0C0C0;
 font: bold 10pt Arial, sans-serif;
}

.member{ 
 font: bold 16pt Arial, sans-serif;
 }

#admin{ 
text-decoration: underline;
font: bold 17pt Arial, sans-serif;
 }

#dev { 
 text-decoration: underline; 
 font: bold 16pt Arial, sans-serif;
}

#devs { 
font: bold 14pt Arial, sans-serif;
color: #006699;
}

.examples { 
 font: bold 11pt Arial, sans-serif; 
 }

#copyright { 
text-align: center;
 }